/* chrome styles override */
:root {
    --native-dark-visited-link-color:white;
}
/*  */
body {
    color: #ffff;
    background: linear-gradient(0deg, #01032E 0%, #000229 100%);
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}

/* nav bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 30px 10px 30px 40px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.30);
}

#logo {
    justify-content: flex-start;
    width: 1.75em;
    height: 2em;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-element {
    width: 45%;
    height: 60px;
    text-align: center;
    flex-shrink: 0;
}

.nav-elements div a {
    text-decoration: none;
    color: white;
}

/* above the fold */
.welcome-message {
    margin: 310px 0 70px 0;
}

.welcome-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 4px 10px rgba(255, 255, 255, 0.13), 2px 4px 10px rgba(255, 255, 255, 0.25);
    font-family: "Cormorant Upright";
    font-size: 2.67em;
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(180deg, #00FFF0 30%, #FF00E5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-fold {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about-me .right-side img{
    width: 300px;
    height: auto;
}